body{
    background-color: white;
  }
  
  div.titulo{
    color: rgb(243, 241, 241);
    text-shadow: 1px 2px 2px black, 0 0 25px rgb(16, 84, 148), 0 0 5px rgb(13, 96, 204);
    text-align: center;
    font-size: 25px;
    
    }
  
  div.significado{
  color: rgb(250, 248, 248);
  text-align: center;
  text-shadow: 1px 2px 2px black, 0 0 25px rgb(16, 214, 9), 0 0 5px rgb(12, 226, 30);
  font-size: 25px;
  }
  
  
    div.opciones{
      margin:55px 40px;
      box-shadow: 0 4px 8px 0 rgb(114, 21, 75), 0 6px 20px 0 rgba(0, 0, 0,0.19);
      float:left;
      width: 360px;
    }
    

    div.icono img{
        margin: 10px 110px;
        width: 15%;
        height: 150px;
        
        
      }

      

  
    div.opciones:hover{
      border: 1px solid rgb(168, 23, 108);
      transform: translateY(-2%);
    }
  
    div.parrafo{
      text-align: center;
      text-decoration-color: #000000;
      padding: 10px;
      background-color: rgba(197, 188, 64, 0.651);
    }
  
    div.linea{
      background-color: rgba(197, 64, 164, 0.651);
      color: rgba(197, 64, 164, 0.651);
    }
  